.page-header {
  background: $light-grey;
  padding: $lg-size 0;
  margin-bottom: $lg-size;
}

.page-header__actions {
  margin-top: $md-size;
}

.page-header__title {
  margin: 0;
  font-weight: 300;
  span {
    font-weight: 700;
  }
}
